@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: hsl(0, 0%, 100%);
}

.grid {
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	gap: 2.5rem;

	section {
		background-color: hsl(0, 0%, 98%);
	}
}
